
{% extends "@Contao/frontend_module/_base.html.twig" %}



{% block content %}



{% if items is not empty %}

  <div class="downloadarchiveList block">

    {% for item in items %}
      <div class="downloadarchivItem  block ">

          <h3> {{ item.title }}</h3>

          {% if item.figure %}
            <div class="image_container{{ item.floatClass }}">

                {% include '@ContaoCore/Image/Studio/figure.html.twig' with {figure: item.figure} %}

            </div>

          {% endif %}

          {% if item.description %}
            <div class="description">
              {{ item.description|raw }}
            </div>
          {% endif %}
          {% block meta %}
            {% if showMeta %}
              <pre>{{ item.filesize }}</pre>
            {% endif %}
          {% endblock %}
          {% block date %}
            {%  if not hideDate %}
              <pre>{{ item.fileDate|date('d.m.Y') }}</pre>
            {% endif %}
          {% endblock %}

        {% block download %}
          <a class="button " href="{{ item.href }}" download="{{ item.filePath }}">Download</a>
        {% endblock %}
      </div>


    {% endfor %}
  </div>
  </div>
  {% block pagination %}
    {% if pagination is not empty %}
      {{ pagination|raw }}
    {% endif %}
  {%  endblock %}
{% else %}
  {#  todo: replace with variable/language-setting #}
  <p class="downloadarchive-empty">Keine Elemente zum Anzeigen. </p>
{% endif %}
{% endblock %}